.section1{
    width: 100%;
    min-height: 100%;
    background-image: url(images/hero\ img.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 0;
    overflow: hidden;
}

.background{
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 2;
    min-height: 100%;
    overflow: auto;
}
body{
    margin: 0;
    padding: 0;
    z-index: 0;
    
}
.background ul{
    float: right;
     list-style-type: none;
     padding: 0px 300px 0px 0px;
     margin: 0;
 }
 .background ul li{
     display: inline-block;
 /* padding: 5px 10px; */
 font-size: 20px;
 cursor: pointer;
 color: white;
 color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 25px 10px 15px;
  
    font-family: 'Roboto', sans-serif;
    
     }
 
 .navbar{
    overflow: auto;
 }
 .navbar h1{
    
        color: #ff305b;
        display: inline-block;
        font-size: 24px;
        font-weight: 800;
        padding: 5px 0 15px 370px;
       
font-family: 'Roboto', sans-serif;

 }
 .name{
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 250px 0 0 0 ;
 }
 .hello p{
    font-weight: 600;
    margin: 0 0 10px;
    color: #ffffff;
    line-height: 26px;
    font-family:  sans-serif;
    font-size: 24px;
    padding: 0 0  0 0;
    margin: 0 0 15px 0;
 }
 .alix h1{
    font-size: 70px;
    
    color: #ff305b;
    font-family: 'Roboto', sans-serif;
    line-height:77px;
    margin: 0 0 15px 0;
    padding:0 0 0 0;
    font-weight:700;

 }
 .web h2{
    font-family: sans-serif;
    font-size:24px;
    color: #fff;
    padding: 0;
    margin:  0 0 15px 0;
    font-weight:lighter;
 }
 .img1{
    display: inline;
    float: left;
    width: 347.5;
    margin-right:50px ;
    border: #312d2a 8px solid;
  height: 440px;
  position: relative;
  border-radius: 1%;
  overflow: visible
  
    
 }
 
 .data{
    float: left;
    display: inline;
    width: 40%;
    padding-left: 50px;
 }
 .section2{
    overflow: auto;
    position: relative;
   
 }
 .img1 img{
    width: 347.5px;
    position: absolute;
    top: 29px;
   left :25px;
 }
 
    


 .content{
   margin: 100px 241px 125px 500px;
    overflow: hidden;
    width: fit-content;
    
 }
 .start h1{
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
 }
 .start p{
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    color:#555555;
    font-family: 'Roboto', sans-serif;

 
 }
 .span{
color: #ff305b;
font-size: 30px;
 }
 td{
    width: 350px;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
 }
 tr{
margin-bottom: 25px;
 
 }
 table{
    overflow: auto;
 }
 span{
    color: #000000;
    font-weight: 500;
 }
 button{
    background-color: #ff305b;
    color: #fff;
    border-style: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5%;
    font-size: 16px;
 }
 .but{
    padding: 10px ;
 }
 .but1{
margin-left: 10px;
 }
 .fa-fa-download{
   color: #fff;
 }
 .services{
   text-align: center;
   padding: 0 15px 25px 15px ;

 }
 .services h1 {
   font-size: 40px;
   font-weight: 800;
   line-height: 30px;
   margin-bottom: 40px;
   padding-bottom: 30px;
   position: relative;
   font-family: 'Roboto', sans-serif;
margin: 0 0 10px;
color:#333;
 }

.section3{
   padding:100px 0 55px 0 ;
   background: #f1f1f1;
   overflow: auto;

}

 .services h1::before{
   content: " ";
   width: 200px;
   height: 2px;
   background-color: #ff305b;
   position: absolute;
   top: 50px;
   left: 45%;
 }
 .services h1::after{

   content: " ";
   width: 115px;
   height: 7px;
   border-bottom: #ff305b 2px solid ;
   border-top: #ff305b 2px solid ;
   position: absolute;
  top :44.5px;
  right: 46.5%;
 }
 .boxes{
   text-align: center;
   margin: 20px 0px 20px 200px;
 }
 .box{
width: 20%;
float: left;
text-align: center;
padding: 25px; 
}
.box h3{
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 15px;
   font-family: 'Roboto', sans-serif;
   color:#333;

}
.box p{ 
    margin-bottom: 25px;
    padding-bottom: 25px;
    color:#555555;
    font-family: 'Roboto', sans-serif;
}
.icon{
color: #ff305b;
font-size: 48px;
} 
.section4{
padding: 40px 0;
}
.imgs{
   text-align: center;
}
.imgs img{
   width: 20%;
   padding: 20px;
}
.portfolio-menu{
   text-align: center;
}
.active{
   background-color: transparent;
   color: #000000;
}
.boxs{
   width: fit-content;
   float: left;
   text-align: center;
   padding: 0px 100px; 
   }
   .boxs h3{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
      font-family: 'Roboto', sans-serif;
      color:#333;
   
   }
   .boxs p{ 
       margin-bottom: 25px;
       padding-bottom: 25px;
       color:#555555;
       font-family: 'Roboto', sans-serif;
   }
   .icons{
      color: #ff305b;
      font-size: 26px;
   }
   .boxs0{
      text-align: center;
      background-color: #f1f1f1;
      overflow: auto;
      padding: 100px 0 100px 355px;
   }
   .section6 {
      padding: 100px 0 100px 0 ;
   }
   .client{
      background-image: url(images/feedback.jpg);
      border-radius: 100%;
      width: 100px;
      background-size: cover;
      background-position: center center;
      height: 100px;
      float: left;
      z-index: 2;
      position:relative;
   }
   .back{
      background-color: #f1f1f1;
      width: 80%;
float: left;
z-index: 0;
padding-left: 50px;
   }
   .back h3{
      font-size: 24px;
      font-weight: 600;
     margin: 0;
      font-family: 'Roboto', sans-serif;
      color:#333;
  
   padding: 30px 0 10px 0;
   }
   .back p{ 
       margin-bottom: 25px;
      
      padding: 5px 0;
       color:#555555;
       font-family: 'Roboto', sans-serif;
      overflow: hidden;}

       .back h6{
         color: #777777;
         font-size: 15px;
         font-family: 'Roboto', sans-serif;
         cursor: pointer;
         padding: 10px 0 10 ;
         margin: 0;
       }
       .background2{
         z-index: 0;
         background-color: #f1f1f1;
      width: 40%;
      overflow: auto;
      position: relative;
      margin: auto;
      border-radius: 5px;

       }
        .angel{
         z-index: 1;
         border: #ff305b solid 50px;
         border-color: #ff305b transparent transparent #ff305b;
        width: 0;
        position: absolute;
        top: -15;
        left:0;
        border-radius: 5px;
        
        }
        .ico{
         color: gold;
         padding: 0 0 30px 0;
        }
        .sec1{
         width: 22%;
         float: left;
padding: 30px;

        }
        .sec1 .img22 img{
         width: 100%;
         text-align: left;
         ;
        }
        .sec1 .img22 iframe{
         width: 100%;
         text-align: left;
          min-height: 199px; ;
        }
        
        
        

        .sec1 p{
        margin: 10px 0 0 0;
         padding-bottom: 25px;
         color:#555555;
         font-family: 'Roboto', sans-serif;
        }
        .sec1 h1{
         font-size: 24px;
         font-weight: 600;
         margin-bottom: 15px;
         font-family: 'Roboto', sans-serif;
         color:#333;
      
        }  
        .blog{
         width: fit-content;
         overflow: auto;
         padding-left:300px;
        }
        .clr{
         clear: both;
        }
        .section7{
         background-color: #f1f1f1;
         padding: 100px 0 100 0;
        }
        .content22{
         background-color:#fff;
         margin: 0;
         padding: 5px 10px 10px 10px;
        }
        .ica{
         color:#555555;
        }
        .section8{
         padding: 100px 0;
         text-align: center;
        }
        .contact{
         width: 40%;
         text-align: left;
         margin: 0 0 0 600px;
        }
        .text{
         width: 45%;float: left;
border-radius: 5px;
border: #0000002b solid 1px;
padding: 10px;
margin: 0 4px;
        }
        .sub{
         border-radius: 5px;
         border: #0000002b solid 1px;
         padding: 10px;
         margin: 33px 4px;
         width: 91%;
        }
        .area{
         width: 91%;
         padding: 10px;
         border-radius: 5px;
         margin:0 4px;
         border: #0000002b solid 1px;
        }
        .section9{
         background: #333333;
padding: 50px;
text-align: center;
        }
        .section9 h1{
         font-size: 16px;
         color: #ffffff;
        }
        .section9 p {
         color: #ffffff;
        }
        .ice{
         padding: 0 15px;
        }
        .background ul li:hover{
         color: #ff305b;
         transition: .5s;
        }
        button:hover{
         background-color: #da330d;
         transition: 1.5;
        }
        .box:hover{
         scale: 1.3;
         background-color: #fff;
         transition: .7s;
        }
        .active:hover{
         color: #ff305b;
         background-color: transparent;
         transition: .5s;
        }
        .ice:hover{
         color: #ff305b;

        }
.read{
cursor: pointer;
}
   .content22 h1:hover{
      color: #ff305b;
      transition: .5s;
   }
        
